.wrapper {
    position: relative;

    .scrollBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 72px;
        height: 72px;
        border: none;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        font-size: 48px;
        color: #3abeff;
        transition: 0.25s ease;

        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
        &.left {
            left: 10%;
        }
        &.right {
            right: 10%;
        }
    }

    .blur {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20%;
        z-index: 1;
        pointer-events: none;

        &.left {
            left: 0;
            background: linear-gradient(to right, rgba(0, 4, 14, 1) 0%, rgba(0, 4, 14, 0.6) 50%, rgba(0, 4, 14, 0) 100%);
        }
        &.right {
            right: 0;
            background: linear-gradient(to left, rgba(0, 4, 14, 1) 0%, rgba(0, 4, 14, 0.6) 50%, rgba(0, 4, 14, 0) 100%);
        }
    }

    .projects {
        padding: 0 20%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            width: 80%;
            height: 450px;
            position: relative;
            flex: 0 0 100%;
            scroll-snap-align: center;
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid rgba(58, 190, 255, 0.5);


            &:hover {
                img {
                    top: 50%;
                    transform: translateY(-50%) scale(1.2);
                }

                .overlay {
                    bottom: 0;
                }

                .itemContent {
                    bottom: 0;

                    .links {
                        opacity: 1;
                    }
                }
            }

            img {
                width: 100%;
                object-fit: cover;
                position: relative;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.5s ease;
            }

            .overlay {
                width: 100%;
                height: calc(100% + 46px);
                position: absolute;
                bottom: -46px;
                left: 0;
                background: linear-gradient(to top, rgba(0, 4, 14, 0.9) 0%, rgba(0, 4, 14, 0.75) 50%, rgba(0, 4, 14, 0.5) 100%);
                transition: 0.5s ease;
            }

            .itemContent {
                width: 96%;
                padding: 5px 2%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                bottom: -46px;
                left: 0;
                transition: 0.5s ease;

                h3 {
                    margin: 10px 0;
                    font-size: 24px;
                }

                span {
                    width: fit-content;
                    max-width: 100%;
                    margin: 0 0 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px;
                    font-size: 18px;

                    .technology {
                        width: fit-content;
                        height: 25px;
                        padding: 5px 10px;
                        border: 1px solid rgba(58, 190, 255, 0.5);
                        border-radius: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        font-size: 18px;
                        color: #fefffe;
                        transition: 0.5s ease;

                        &:hover {
                            cursor: default;
                            color: #3abeff;
                        }

                        svg {
                            position: relative;
                            top: 1px;
                        }
                    }
                }

                .links {
                    display: flex;
                    flex-direction: row;
                    opacity: 0;
                    transition: 0.5s ease;

                    .btn {
                        width: fit-content;
                        height: 36px;
                        margin-bottom: 10px;
                        padding: 0 10px;
                        border: 1px solid rgba(254, 255, 254, 0.5);
                        border-radius: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        text-transform: none;
                        font-size: 18px;
                        color: #fefffe;
                        transition: 0.5s ease;

                        &:hover {
                            border: 1px solid rgba(58, 190, 255, 0.5);
                            cursor: pointer;
                            color: #3abeff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .wrapper {
        .scrollBtn.left {
            left: 5%;
        }

        .scrollBtn.right {
            right: 5%;
        }

        .blur {
            display: none;
        }
    }

    .overlay,
    .itemContent {
        bottom: 0 !important;

        .links {
            opacity: 1 !important;
        }
    }
}