.mainPage {
    padding-bottom: 50px;

    .content {
        width: 60%;
        margin: 0 auto;

        h2 {
            margin: 60px 0 25px;
            text-align: left;
            font-size: 36px;
        }
    }
}

@media (max-width: 1250px) {
    .content {
        width: 80% !important;
    }
}