.mainPage {
    padding-bottom: 50px;

    .content {
        width: 100%;
        margin: 0 auto;

        h2 {
            margin: 60px 20% 25px;
            text-align: left;
            font-size: 36px;
        }
    }
}

@media (max-width: 1250px) {
    .content {
        h2 {
            margin: 60px 5% 25px !important;
        }
        .projects, .expertise, .skills, .education, .links {
            width: 90%;
            margin: 0 5%;
            padding: 0;
        }
    }
}