.expertise {
    width: 60%;
    margin: 0 15%;
    position: relative;

    .timeline {
        position: absolute;
        left: 11px;
        width: 2px;
        background-color: rgba(58, 190, 255, 0.5);
        z-index: 0;
    }

    .items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;

        .item {
            margin-left: 32px;
            position: relative;

            &::before {
                width: 12px;
                height: 12px;
                position: absolute;
                top: 13px;
                left: -26px;
                background-color: #3abeff;
                border-radius: 50%;
                content: "";
            }

            h3 {
                margin: 2px 0;
                text-align: left;
                font-size: 24px;
            }

            p {
                margin: 0;
                text-align: left;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1450px) {
    .expertise {
        .item {
            h3 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}