.expertise {
    width: 60%;
    margin: 0 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

    .timeline {
        position: absolute;
        left: 11px;
        width: 2px;
        background-color: rgba(58, 190, 255, 0.5);
        z-index: 0;
    }

    .item {
        margin-left: 32px;
        position: relative;

        &::before {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 13px;
            left: -26px;
            background-color: #3abeff;
            border-radius: 50%;
            content: "";
        }

        h3 {
            margin: 2px 0;
            text-align: left;
            font-size: 24px;
        }

        p {
            margin: 0;
            text-align: left;
            font-size: 18px;
        }
    }
}