.skills {
    margin: 10px 15%;

    .items {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .item {
            width: fit-content;
            min-width: 7.5%;
            max-width: 17.5%;
            height: 35px;
            line-height: 35px;
            padding: 8px;
            border: 1px solid rgba(58, 190, 255, 0.5);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            color: #fefffe;
            transition: 0.5s ease;

            &:hover {
                cursor: default;
                color: #3abeff;
            }
        }
    }
}

@media (max-width: 1450px) {
    .skills {
        .items {
            justify-content: center;

            .item {
                min-width: 5%;
                max-width: 35%;
                padding: 2px 5px;
                font-size: 15px;

                svg {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
    }
}